/************************************
 *
 * Template-independent CSS code for formatting xaringan presentations
 *
 * Trouvailles diverses CyrCo
 *  => https://www.r-bloggers.com/tips-to-reduce-the-complexity-of-slide-making-with-xaringan/
 *  => https://github.com/yihui/xaringan/issues/80
 ************************************/

var slideshow = remark.create();

remark.macros.scale = function (percentage) {
  var url = this;
  return '<img src="' + url + '" style="width: ' + percentage + '" />';
};

